.main {
  min-height: 400px;
}
.navbarToggler li > a {
  color: whitesmoke;
  text-shadow: 1px 1px 4px rgb(44, 42, 54);
}
.content {
  background: rgb(233, 233, 233);
}
.leftSidebar {
  background: rgb(83, 99, 120);
  height: 400px;
}
.edit {
  color: rgb(100, 147, 223);
}
.trash {
  color: rgb(221, 88, 64);
}
